{
  "openapi": "3.0.3",
  "info": {
    "title": "PGNCOM API Documentation",
    "description": "Selamat datang di dokumentasi resmi API PGNCOM\nPT PGAS Telekomunikasi Nusantara (PGNCOM)\n\nDokumentasi ini menyediakan referensi lengkap untuk seluruh layanan API yang tersedia di lingkungan PGNCOM. API ini dirancang untuk mendukung berbagai kebutuhan integrasi aplikasi, automasi proses bisnis, pengelolaan data internal, serta pengembangan layanan digital yang terhubung secara aman dan efisien.\n\nMelalui koleksi API yang telah disediakan, Anda dapat mengakses berbagai layanan utama PGNCOM seperti:\n- Autentikasi pengguna.\n- Manajemen user dan approval.\n- Integrasi layanan email gateway.\n- Layanan referensi data negara, kota, dan organisasi.\n- Penyimpanan dan manajemen file melalui MinIO Storage.\n- Layanan presensi (Attendance).\n- Dan layanan lainnya yang terus berkembang.\n\nDokumentasi ini juga menyertakan panduan penggunaan, parameter, dan contoh request-response untuk memudahkan developer dalam implementasi dan integrasi ke sistem yang ada.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.pgncom.co.id"
    }
  ],
  "paths": {
    "/api/user": {
      "get": {
        "summary": "Get all users",
        "description": "Mengambil semua user tanpa filter.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["application/json"]
            },
            "description": "Content-Type harus application/json"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer {token}"
            },
            "description": "Token JWT hasil login"
          },
          {
            "name": "API_TOKEN",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "xxxxx"
            },
            "description": "Token API dari environment"
          },
          {
            "name": "APP_TOKEN_CURRENT_APP",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "app_token_value"
            },
            "description": "Token aplikasi saat ini"
          }
        ],
        "responses": {
          "200": {
            "description": "Daftar semua user",
            "content": {
              "application/json": {
                "example": [
                  {
                    "nopek": "0014830044",
                    "name": "User A",
                    "email": "usera@example.com"
                  },
                  {
                    "nopek": "0014830045",
                    "name": "User B",
                    "email": "userb@example.com"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized - Header tidak lengkap atau token salah"
          }
        }
      }
    },
    "/api/user/{nopek}": {
      "get": {
        "summary": "Get user by nopek",
        "description": "Mengambil user berdasarkan nomor pekerja (nopek).",
        "parameters": [
          {
            "name": "nopek",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "0014830044"
            },
            "description": "Nomor pekerja (nopek)"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["application/json"]
            },
            "description": "Content-Type harus application/json"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer {token}"
            },
            "description": "Token JWT hasil login"
          },
          {
            "name": "API_TOKEN",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "xxxxx"
            },
            "description": "Token API dari environment"
          },
          {
            "name": "APP_TOKEN_CURRENT_APP",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "app_token_value"
            },
            "description": "Token aplikasi saat ini"
          }
        ],
        "responses": {
          "200": {
            "description": "Detail user",
            "content": {
              "application/json": {
                "example": {
                  "nopek": "0014830044",
                  "name": "User A",
                  "email": "usera@example.com",
                  "department": "IT"
                }
              }
            }
          },
          "404": {
            "description": "User tidak ditemukan"
          },
          "401": {
            "description": "Unauthorized - Header tidak lengkap atau token salah"
          }
        }
      }
    },
    "/api/approval-user": {
      "get": {
        "summary": "Get all approval users",
        "description": "Mengambil semua user approval, menampilkan atasan dari layer paling rendah hingga tertinggi.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["application/json"]
            },
            "description": "Content-Type harus application/json"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer {token}"
            },
            "description": "Token JWT hasil login"
          },
          {
            "name": "API_TOKEN",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "xxxxx"
            },
            "description": "Token API dari environment"
          },
          {
            "name": "APP_TOKEN_CURRENT_APP",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "app_token_value"
            },
            "description": "Token aplikasi saat ini"
          }
        ],
        "responses": {
          "200": {
            "description": "Daftar approval user lengkap",
            "content": {
              "application/json": {
                "example": [
                  {
                    "nopek": "0014830044",
                    "name": "User A",
                    "approvals": [
                      {
                        "layer": 1,
                        "atasan": "User B"
                      },
                      {
                        "layer": 2,
                        "atasan": "User C"
                      }
                    ]
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized - Header tidak lengkap atau token salah"
          }
        }
      }
    },
    "/api/approval-user/{nopek}": {
      "get": {
        "summary": "Get approval user by nopek",
        "description": "Mengambil data approval user berdasarkan nopek.",
        "parameters": [
          {
            "name": "nopek",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "0014830044"
            },
            "description": "Nomor pekerja (nopek)"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["application/json"]
            },
            "description": "Content-Type harus application/json"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer {token}"
            },
            "description": "Token JWT hasil login"
          },
          {
            "name": "API_TOKEN",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "xxxxx"
            },
            "description": "Token API dari environment"
          },
          {
            "name": "APP_TOKEN_CURRENT_APP",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "app_token_value"
            },
            "description": "Token aplikasi saat ini"
          }
        ],
        "responses": {
          "200": {
            "description": "Data approval user",
            "content": {
              "application/json": {
                "example": {
                  "nopek": "0014830044",
                  "name": "User A",
                  "approvals": [
                    {
                      "layer": 1,
                      "atasan": "User B"
                    },
                    {
                      "layer": 2,
                      "atasan": "User C"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "User tidak ditemukan"
          },
          "401": {
            "description": "Unauthorized - Header tidak lengkap atau token salah"
          }
        }
      }
    },
    "/api/approval-user/{nopek}/{exceptLayers}": {
      "get": {
        "summary": "Get approval user by nopek except layers",
        "description": "Mengambil data approval user berdasarkan nopek, mengecualikan layer tertentu. Layer yang dikecualikan dipisahkan dengan '&', misal '2&1'.",
        "parameters": [
          {
            "name": "nopek",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "0014830044"
            },
            "description": "Nomor pekerja (nopek)"
          },
          {
            "name": "exceptLayers",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2&1"
            },
            "description": "Layer yang dikecualikan, contoh '2&1'"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["application/json"]
            },
            "description": "Content-Type harus application/json"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer {token}"
            },
            "description": "Token JWT hasil login"
          },
          {
            "name": "API_TOKEN",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "xxxxx"
            },
            "description": "Token API dari environment"
          },
          {
            "name": "APP_TOKEN_CURRENT_APP",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "app_token_value"
            },
            "description": "Token aplikasi saat ini"
          }
        ],
        "responses": {
          "200": {
            "description": "Data approval user tanpa layer tertentu",
            "content": {
              "application/json": {
                "example": {
                  "nopek": "0014830044",
                  "name": "User A",
                  "approvals": [
                    {
                      "layer": 3,
                      "atasan": "User D"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "User tidak ditemukan"
          },
          "401": {
            "description": "Unauthorized - Header tidak lengkap atau token salah"
          }
        }
      }
    },
    "/api/approval/{exceptLayers}": {
      "get": {
        "summary": "Get all approval users except certain layers",
        "description": "Mengambil semua approval user dengan mengecualikan layer tertentu, contoh: '1&2'.",
        "parameters": [
          {
            "name": "exceptLayers",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "1&2"
            },
            "description": "Layer yang dikecualikan"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["application/json"]
            },
            "description": "Content-Type harus application/json"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer {token}"
            },
            "description": "Token JWT hasil login"
          },
          {
            "name": "API_TOKEN",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "xxxxx"
            },
            "description": "Token API dari environment"
          },
          {
            "name": "APP_TOKEN_CURRENT_APP",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "app_token_value"
            },
            "description": "Token aplikasi saat ini"
          }
        ],
        "responses": {
          "200": {
            "description": "Daftar approval user tanpa layer tertentu",
            "content": {
              "application/json": {
                "example": [
                  {
                    "nopek": "0014830044",
                    "name": "User A",
                    "approvals": [
                      {
                        "layer": 3,
                        "atasan": "User D"
                      }
                    ]
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized - Header tidak lengkap atau token salah"
          }
        }
      }
    }
  }
}
